/* static/css/user_home.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
    margin: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
